<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p>High-performance and self-motivated person with more than 9 years of hands on experience in architecture and development of enterprise applications, with specialization in Java/Java EE. Have an extensive background with software architecture, application frameworks, design patterns, as well as a solid knowledge of distributed systems, algorithms and data structures. During these years, developed expertise to create software with high levels of quality, security and availability.</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Java</h4>
          <p class="resume-item-copy">Core Java, Java EE - EJB, JPA / Hibernate, JMS, JAX-RS, JAX-WS, AspectJ</p>
          <p class="resume-item-copy">Multi-Threading and Concurrency, Sockets, Regular Expressions</p>
          <p class="resume-item-copy">Spring - Dependency Injection, AOP, Boot</p>
          <p class="resume-item-copy">Search engine development – Lucene, Elasticsearch</p>
          <p class="resume-item-copy">Template Engines – Velocity, Freemarker</p>
          <p class="resume-item-copy">Test Automation / Test-Driven Development - JUnit, PowerMock, Selenium, XMLUnit, JaCoCo</p>
          <p class="resume-item-copy">Performance Tuning – JVM Tuning, JMeter, LoadUI</p>
          <p class="resume-item-copy">Web Crawlers using Crawler4j, Jsoup and lexical analysis/parsers with Antlr</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Web Technologies</h4>
          <p class="resume-item-copy">HTML, CSS, JavaScript, AngularJS, jQuery</p>
          <p class="resume-item-copy">Servlets, JSP, JSF, Struts</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Application Integration</h4>
          <p class="resume-item-copy">REST, SOAP, WebServices</p>
          <p class="resume-item-copy">XML, JSON, XPath, XSLT</p>
          <p class="resume-item-copy">Camel, STOMP, ActiveMQ, RabbitMQ</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">IDE, Tools and Continuous Integration</h4>
          <p class="resume-item-copy">Eclipse IDE, Git, Subversion, Team Foundation Server</p>
          <p class="resume-item-copy">Apache Ant, Apache Maven</p>
          <p class="resume-item-copy">Jenkins, Hudson, SonarQube, Nexus</p>
          <p class="resume-item-copy">JIRA, Confluence, Trello</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Programming Languages</h4>
          <p class="resume-item-copy">Advanced: Bash, Groovy, SQL, Adobe Flex / ActionScript, Progress OpenEdge</p>
          <p class="resume-item-copy">Intermediate: Scala, Python, Ruby, R, PHP, Delphi</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Miscellaneous</h4>
          <p class="resume-item-copy">Agile Methodology, Scrum experience</p>
          <p class="resume-item-copy">Application Servers: JBoss, WildFly, Glassfish</p>
          <p class="resume-item-copy">Operational Systems: Mac OS X, Linux and Windows</p>
          <p class="resume-item-copy">Database: Couchbase, MongoDB, Oracle, MySQL, SQL Server, Progress</p>
          <p class="resume-item-copy">Cloud Services: Docker, AWS: EC2, S3, Glacier, Route 53 – CloudFlare – DigitalOcean</p>
          <p class="resume-item-copy">Application Security, Penetration Testing, Authentication Flows, Vulnerabilities, Cryptography</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}



      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">TOTVS Labs</h3>
          <h4 class="resume-item-details" itemprop="description">Back-End Engineer &bull; Sep, 2015 &mdash; Present - Mountain View, CA, United States</h4>
          <ul class="resume-item-list">
            <li>Worked as a Back-End Engineer in a fast-paced innovation lab, focusing on several important components of a big data platform, providing a complete data pipeline with extraction, transformation, validation and distribution using NoSQL databases, search engines and leveraging machine learning and artificial intelligence.</li>
          </ul>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">TOTVS S.A.</h3>
          <h4 class="resume-item-details" itemprop="description">Senior Research &amp; Development Engineer &bull; Mar, 2009 &mdash; Aug, 2015 - Joinville, Brazil</h4>
          <ul class="resume-item-list">
            <li>Worked in an Architecture role in the development of enterprise software with Java EE, Adobe Flex, Progress OpenEdge and web front-end technologies.</li>
            <li>Principal architect in several integration projects that required real-time performance and high availability.</li>
            <li>Created internal tools that improved productivity, development process and software quality. It includes source code and schema search engine including domain-specific rules, source code rules-checker and automation in the build/update pipeline.</li>
            <li>Technical responsible for CEISUPPLY - Supply Chain Excellence & Innovation Center - which the research & development projects include RFID, Google Glass and mobile solutions.</li>
          </ul>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Intelig&ecirc;ncia Sistemas</h3>
          <h4 class="resume-item-details" itemprop="description">Java Developer &bull; May, 2008 &mdash; Mar, 2009 - Joinville, Brazil</h4>
          <ul class="resume-item-list">
            <li>Participated in development projects in various areas, from small business management, commercial automation, payment management and payment orders generation.</li>
            <li>Software for electronic medical records to Departments of Health of Brazil.</li>
          </ul>

        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Premium Tecnologia</h3>
          <h4 class="resume-item-details" itemprop="description">Software Developer &bull; Feb, 2008 &mdash; Sept, 2008 - Joinville, Brazil</h4>
          <ul class="resume-item-list">
            <li>Software development for election campaign and home automation (control electronics via Web and Mobile).</li>
          </ul>

        </div>



      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://donutlocator.io">donutfinder.io</a></h3>
          <h4 class="resume-item-details">Founder & Primary Developer &bull; 2012 &mdash; Present</h4>
          <p class="resume-item-copy">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Donut Eater's User Group</h3>
          <h4 class="resume-item-details">Co-Founder & Organizer &bull; 2007 &mdash; Present</h4>
          <p class="resume-item-copy">DEUG is a local monthly meetup in Springfield where we share all the latest tips and tricks for dat donut lifestyle. I organize the group, and typically eat most of the donuts.</p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education and Certification</h2>
        </header>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">IST/SOCIESC – Sociedade Educacional de Santa Catarina</h3>
          <h4 class="resume-item-details" itemprop="description">Technologist of Internet Systems &bull; 2010 &mdash; </h4>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Oracle Certified Expert Java EE 6 Enterprise JavaBeans Developer</h3>
          <h4 class="resume-item-details" itemprop="description">Oracle Corporation &bull; May, 2015</h4>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Oracle Certified Expert Java EE 6 Web Component Developer</h3>
          <h4 class="resume-item-details" itemprop="description">Oracle Corporation &bull; Mar, 2014</h4>
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Oracle Certified Professional Java Programmer (Java 6)</h3>
          <h4 class="resume-item-details" itemprop="description">Oracle Corporation &bull; Apr, 2011</h4>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}


      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Springfield Nuclear Power Plant</h3>
          <h4 class="resume-item-details">Outstanding Achievement &bull; 2010</h4>
          <p class="resume-item-copy">Awarded for stopping a nuclear meltdown, even though I also started it.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Duff Beer Customer of the year</h3>
          <h4 class="resume-item-details">1997 &mdash; 2001, 2003, 2008 &mdash; 2012</h4>
          <p class="resume-item-copy">Honored by <a href="https://en.wikipedia.org/wiki/Duff_Beer">Duff Beer</a> for being an outstanding customer several years straight. Qualifications included most beer consumed at a bar, most beer purchased, and most beer ralphed.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Moe's Patron of the Month</h3>
          <h4 class="resume-item-details">12/2001, 8/2004</h4>
          <p class="resume-item-copy">Specifically this prestigious awarded twice for stopping a robber with my belly.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      <!-- thanks @jglovier, changing footer // based on https://github.com/jglovier/resume-template -->
      <footer class="page-footer">
        <p class="footer-line">Like what you're seeing? Then <a href="mailto:{{ site.resume_contact_email }}" itemprop="email">contact me</a>.</p>
      </footer>


    </div>

  </body>

</html>
